@model IEnumerable<WebApplication1.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<h2>Product List</h2>

@using (Ajax.BeginForm("Index", "Home", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, }))
{
    @Html.AntiForgeryToken()
<div>
    @Html.ActionLink("Alphabetisch", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFiler },
        new { @class = "btn btn-success btn-sm", @style = "margin-top:10px; margin-bottom:10px" })
    @Html.ActionLink("Neueste", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter },
        new { @class = "btn btn-success btn-sm", @style = "margin-top:10px; margin-bottom:10px" })

    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as String, new { placeholder = "Suche nach Wort", id = "SearchString" })
        <input type="submit" value="Search" id="btnSearch" class="btn btn-success btn-sm" style="margin-left:1px" />
    </p>
</div>
}


<div id="ProductList">
    @Html.Partial("ProductList", Model)
</div>


@section scripts
{
    <script type="text/javascript">
        window.addEventListener("popstate", function (e) {
            $.ajax({
                url: location.href,
                success: function (result) {
                    $('#ProductList').html(result);
                }
            });
        });

        function ChangeUrl(page, url) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: page, Url: url };
                history.pushState(null, obj.Page, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
        }

        function search() {
            $.ajax({
                url: "/Home/Index?searchString=" + $('#SearchString').val(),
                success: function (result) {
                    ChangeUrl("index", "/Home/Index?searchString=" + $('#SearchString').val());
                    $('#ProductList').html(result);
                }
            });
        }

        $(document).ready(function () {
            $("#SearchString").keyup(function () {
                var wortName = $("#SearchString").val();
                search(wortName);
            })
        })
    </script>
}

